body{
    font-family: 'Roboto', sans-serif;
}

#input-search {
    margin: 10px 0;
  }
  
  #scrollUp {
      bottom: 20px;
      right: 20px;
      padding: 10px 20px;
      background-color: #555;
      color: #fff;
  }
  
  img.my-foto{
      border-radius: 48%;
      width: 80px;
  }
  .name{
      margin-top: 20px;
      font-size: 18px;

  }
  .title{
  font-size: 30px;
  }
  @media (max-width: 700px) { 
     
      .name{
        margin-top: 10px;
        font-size: 16px;
  
    }
    .title{
    font-size: 20px;
    }

   }

   @media (max-width: 450px) { 
   
    .name{
      margin-top: 5px;
      font-size: 14px;

  }
  .title{
  font-size: 16px;
  }

 }


